.cars45__marker {
  position: absolute;
  &-item {
    @include set-dimension(5.9rem, 0.5rem);
    background-color: var(--color-red-1);
  }
  &-msg {
    border-radius: 0.5rem;
    @include set-dimension(3rem, 10rem);
    box-shadow: var(--box-shadow-4);
    padding: 0.1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background-color: var(--color-red-1);
    color: #fff;
  }
}
