%notifiers-common-styles {
  background-color: var(--color-red-1);
  @include set-dimension(4rem, 15rem);
  border-radius: 0.4rem;
  color: #fff;
  position: fixed;
  z-index: 999999;

  p {
    font-size: 1.5rem;
    margin: 0 !important;
  }
}

.qc-mode-notifier {
  @extend %notifiers-common-styles;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
